@import "tailwindcss";
@plugin "daisyui";

html, body{
    font-family: "Inter", sans-serif;
    background-color: #F5F5F5;
    color: #001931;
}

.active-link{
    background-image: linear-gradient(110deg, #632EE3, #9F62F2);
    background-clip: text;
    color: transparent;
    text-decoration: underline;
} 
@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  100% {
    transform: rotate(360deg); /* End at 360 degrees (a full turn) */
  }
}